@import ../../../styles/_color
// Product normal
.productToy
  max-width: 500px
  background: #ffffff

.nameProductToy
  height: 65px
  span 
    font-size: 1.3rem
    display: -webkit-box
    -webkit-line-clamp: 2
    -webkit-box-orient: vertical



// Product have describe
.productDescribeToy
  max-width: 700px
  height: 270px
.imagesDescribeToy 
  max-width: 400px

.nameAndDescribeProductToy
  width: 100%
  border-left: 2px solid red
.priceDescribeProductToy
  width: 100%
  bottom: 5%
.describeProduct
  color: $textDescribe



