.areaBannerOne 
  grid-template-columns: 46.125rem 22.125rem
  grid-gap: 1.875rem
  margin-top: 3.25rem
.areaBannerTwo 
  margin-top: 1.8125rem
  grid-template-columns: 22.125rem 22.125rem 22.125rem
  grid-gap: 1.875rem
.areaNewProduct 
  margin: 20px
.sectionNewProductOne 
  grid-template-columns: 34.0625rem 16.125rem 16.125rem
  grid-gap: 1.875rem
.sectionNewProductTwo
  grid-template-columns: repeat(4, 16.125rem)
  grid-gap: 1.875rem
